Django==1.11.29
Markdown==2.3.1
SPARQLWrapper==1.5.2
UNKNOWN==0.0.0
Whoosh==2.5.3
beautifulsoup4==4.3.1
django-simple-captcha==0.4.0
docutils==0.11
eulfedora==0.20.0
eulxml==0.19.1
fuzzywuzzy==0.2
html5lib==0.99
isodate==0.4.9
lxml==4.6.2
pillow==8.2.0
ply==3.4
poster==0.8.1
py2exe==0.6.9
pycrypto==2.6
pymarc==2.8.9
pyparsing==1.5.7
python-dateutil==2.1
rdflib==4.0.1
redis==2.8.0
rlsp==0.5.0
six==1.4.1
