{% extends 'base.html' %}


{% block main %}

{# START main content #}
<div class="container-fluid">
 {# START header #}
 <div class="row-fluid">
  <div class="span12">
    <h1>Redis Library Services Platform</h1>
    <h2>JSON Cluster Interface</h2>
    <p>
     The JSON Cluster Interface provides a JSON interface to a
     Redis cluster.  
    </p>
  </div>
 {# END search Widget #}
 </div>
 {# START Facet and Content #}
 <div class="row-fluid">
 {# END Facet and Content #}
 </div>
{# END main content #}
</div>
{% endblock %}
